.food_img{
    width: 200px;
    height: 270px;
    padding: 10px;
}
.food_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#home{
    text-decoration: underline;
}
